html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}

.container {
  position: relative;
  width: 1320px;
  height: auto;
  display: flex;
}

/* NAVBAR */

.navbar_frame {
  position: relative;
  width: 100%;
  height: 145px;

  background-color: rgba(68, 50, 151, 1);

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar_frame .container {
  padding: 20px 0px 14px;
  flex-direction: column;
}

.navbar_frame .container .navbar_top {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .navbar_top .nav_search_frame {
  width: 651px;
  height: 50px;

  display: flex;
  flex-direction: row;

  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.navbar_frame .nav_search_frame .search_box {
  padding: 10px 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar_frame .search_box .category_list {
  width: 166px;
  height: 30px;

  border-right: 1px solid rgba(214, 214, 214);
}

.navbar_frame .category_list select {
  width: 140px;
  height: 30px;

  border: none;
  outline: none;

  color: rgba(4, 30, 66, 1);
  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}

.navbar_frame .search_box input {
  margin-left: 12px;
  width: 387px;
  height: 22px;
  color: rgba(98, 105, 116, 1);

  border: none;
  outline: none;

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  text-align: left;
}

.navbar_frame .nav_search_frame .search_icon_box {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0px 6px 6px 0px;
  background: rgba(245, 195, 75, 1);
}

.navbar_frame .navbar_top .nav_top_menu {
  width: 416px;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .nav_top_menu .top_menu_box {
  display: flex;
  flex-direction: row;
}

.navbar_frame .top_menu_box .box_icon_box {
  position: relative;
  width: 54px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.navbar_frame .top_menu_box .box_info_box {
  width: 69px;
  height: 43px;
  margin-left: 12px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navbar_frame .box_info_box span {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_info_box strong {
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Regular;

  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .box_icon_box img {
  width: 22px;
  height: 22px;
}

.navbar_frame .box_icon_box .basket_count {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: rgba(245, 195, 75, 1);

  color: rgba(11, 30, 64, 1);

  font-family: "jost";
  font-style: Bold;
  font-size: 8px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}
.navbar_frame .container .navbar_bott {
  margin-top: 20px;
  border-top: 1px solid #5747a2;
}

.navbar_frame .navbar_bott .navbar_bott_menu_box {
  margin-top: 10px;
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar_frame .navbar_bott .browse_box {
  width: 185px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-right: 1px solid #5747a2;
}

.navbar_frame .browse_box img {
  width: 20px;
  height: 18px;
}

.navbar_frame .browse_box span {
  margin-left: 10px;
  color: rgba(255, 255, 255);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar_frame .navbar_bott_menu_box .navbar_route_menu {
  width: 670px;
  display: flex;
  flex-direction: row;
}

.navbar_frame .navbar_route_menu a {
  margin-right: 10px;
  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.navbar_frame .navbar_route_menu a.title {
  color: #f5c34b;
}

.navbar_frame .sorting_menu span {
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
}

/* FOOTER */

.footer_frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(243, 245, 246, 1);
}

.container .footer_top_title {
  margin-bottom: 30px;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_frame .container {
  flex-direction: column;
}

.container .footer_top {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_top .contact_box {
  width: 264px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.contact_box .contact_info_box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

.contact_info_box img {
  width: 35px;
  height: 30px;
}

.contact_info_box div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.contact_info_box div strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.contact_info_box div span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_top .support_service_box {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.support_service_box a {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_top .social_box {
  margin-bottom: 40px;
  width: 264px;
  height: auto;

  display: flex;
  flex-direction: column;
}

.social_box .icons_box {
  margin-bottom: 30px;
  width: 155px;
  display: flex;
  justify-content: space-between;
}

.social_box .mobile_apps_box {
  margin-top: 30px;
  width: 260px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mobile_apps_box div {
  display: flex;
  flex-direction: row;
}

.mobile_apps_box .app_box img {
  margin-top: 10px;
  width: 24.28px;
  height: 16px;

  margin-right: 20px;
}

.mobile_apps_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_top .footer_payment-box {
  width: 264px;
  height: 211px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer_payment-box .payment_box {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: column;
}

.footer_payment-box .payment_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_payment-box .payment_box div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .footer_bottom {
  margin-top: 90px;
  width: 100%;
  height: 80px;

  border-top: 1px solid rgba(234, 234, 234, 1);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .footer_bottom span {
  margin-right: 66px;
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.container .footer_bottom div {
  width: 557px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_bottom .footer_bottom_right {
  width: 400px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer_bottom_right .footer_select_box {
  padding: 10px 20px;
  width: 160px;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #ffffff;
  box-sizing: border-box;

  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
}

.footer_bottom_right .footer_select_box span {
  color: rgba(98, 105, 116, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
}

.footer_select_box select {
  margin-left: 20px;
  width: 70px;
  height: 90%;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}
