.home_page {
  display: flex;
  flex-direction: column;
}

/* Style for Selling Products and Category */

.white_svg {
  filter: brightness(0) invert(1);
}

.home_page .container .category_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home_page .category_top span {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-transform: capitalize;
}

.home_page .category_top a {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  text-transform: capitalize;
}

.home_page .category_top a:hover {
  border-bottom: 2px solid rgba(4, 30, 66, 1);
}

/* Pagionation */

.container .pagionation_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container .pagionation_box .pagionation_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .pagionation_main .pagionation_dot {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}

.pagionation_main img {
  cursor: pointer;
}

.container .pagionation_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.container .pagionation_dot .dot.active {
  border: 2px solid #112137;
}

.container .pagionation_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112137;
  border-radius: 50%;
}

.container .hover_border {
  margin-top: 10px;
  width: 32px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
}

/* Product_Box */

.container .product_content_box {
  padding: 5px 22px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.container .product_content_box .product_title {
  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}

.container .product_content_box .product_info {
  height: 56px;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  overflow: hidden;
}
.container .product_content_box .review_box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.container .review_box img {
  margin-right: 5px;
}

.container .review_box span {
  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  margin-left: 8px;
}

.container .product_content_box .price_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container .price_box strong {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.container .price_box span {
  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-style: Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: line-through;
  margin-left: 10px;
}

/* HEADER */
.home_page .header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.home_page .header_frame .container {
  flex-direction: row;
}

.home_page .header_frame .container .header_left {
  width: 871px;
  height: 508px;
  padding: 15px;
  position: relative;
  background-image: url(../images/icons/header_bg.svg);

  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  background: rgba(0, 83, 246, 1);

  display: flex;
  flex-direction: row;
}

.home_page .header_frame .header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.home_page .header_frame .header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  background: rgba(245, 195, 75, 1);

  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: Medium;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.home_page .header_frame .header_content span {
  margin-top: 10px;
  width: 428px;
  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 87px;
}

.home_page.header_frame .header_content p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.home_page .header_frame .header_content .shop_now {
  margin-top: 10px;
  width: 140px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);
}

.home_page .header_frame .header_content img {
  position: absolute;
  right: 10px;
}

.home_page .header_frame .container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home_page .header_frame .header_right .header_box {
  margin-left: 15px;
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;

  border-radius: 6px;
  background: rgba(242, 242, 242, 1);
}

.home_page .header_frame .header_box .box_left {
  margin-left: 15px;
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_page .header_frame .header_right .header_box .box_left p {
  color: rgba(0, 83, 246, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

.home_page .header_frame .header_box .box_left span {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
}

.home_page .header_frame .header_box .box_left a {
  margin-top: 10px;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.home_page .header_frame .header_box .box_right {
  margin-left: 15px;
  width: 50%;
}

.home_page .header_frame .box_left .hover_border2 {
  margin-top: 10px;
  width: 127px;
  height: 2px;
  background-color: rgba(4, 30, 66, 1);
}

/* SERVICE FRAME*/

.home_page .service_frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.home_page .service_frame .container {
  flex-direction: row;
}
.home_page .container .service-box {
  width: 25%;
  height: 86px;

  display: flex;
  flex-direction: row;
  border-bottom: 2px solid rgba(234, 234, 234, 1);
}

.home_page .service-box img {
  width: 35px;
  height: 35px;
}
.home_page .service-box .service_content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}

.home_page .service_content span {
  color: rgba(4, 30, 66, 1);

  font-family: "Jost";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

.home_page .service_content p {
  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}

/* SHOP CATEGORY*/

.home_page .shop_category_frame {
  margin-top: 90px;
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.home_page .shop_category_frame .container {
  flex-direction: column;
}

.home_page .container .category_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: auto;
  margin-top: 30px;
}
.home_page .category_bottom .category-items {
  display: flex;
  flex-direction: column;

  width: 142px;
  height: auto;
}

.home_page .category-items .category_img_box {
  width: 100%;
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #eaeaea;
  border-radius: 50%;
}

.home_page .category-items span {
  margin-top: 15px;

  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  text-align: center;
}

.home_page .selling_product_frame {
  position: relative;

  margin-top: 60px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Top selling Swiper */

.product_boxes {
  overflow: hidden;
}

.product_boxes .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.product_boxes .selling_item.swiper-slide {
  width: 306px;
}

/* Swiper pagination */

.swiper-pagination-custom {
  width: auto;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 20px;
}

.swiper-button-prev-custom,
.swiper-button-next-custom {
  cursor: pointer;
}

.selling_product_frame .container {
  flex-direction: column;
  width: 1320px;
}

.container .selling_product_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
}

.container .next_page_box {
  width: 25px;
}
.next_page_box img {
  position: absolute;
  top: 50%;
}

.selling_product_box .product_boxes {
  position: relative;
  width: 1224px;
  height: 452px;

  display: flex;
  flex-direction: row;
}

.product_boxes .selling_item {
  width: 306px;
  height: 100%;

  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.selling_item .product_image_box {
  width: 100%;
  height: 280px;
}

.product_image_box .hover_box {
  display: none;
  width: 100%;
  height: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.product_image_box:hover .hover_box {
  display: flex;
}

.hover_box button {
  width: 260px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(0, 83, 246, 0.1);
  background: rgba(0, 83, 246, 1);

  outline: none;
  border: none;

  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.home_page .adv_farme {
  margin-top: 90px;
  width: 100%;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  background: rgba(229, 237, 255, 1);

  color: rgba(0, 83, 246, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

/* SPECIAL PRODUCT */

.home_page .special_product_frame {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 90px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.special_product_frame .container {
  flex-direction: column;
}

.container .special_product_wrapper {
  position: relative;
  margin-top: 35px;
  width: 100%;
  height: 368px;

  display: flex;
  flex-direction: row;
}

.special_product_wrapper .big-product-box {
  position: relative;
  padding: 30px;
  width: 664px;
  height: 360px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background: #f3f5f6;
  border-radius: 6px;
}
.big-product-box .big_product_content {
  justify-content: flex-end;
  width: 160px;
  display: flex;
  flex-direction: column;
}

.big_product_content span {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Regular;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.big_product_content p {
  margin: 7px 0px;
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}
.big_product_content a {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
}

.big-product-box img {
  position: absolute;
  width: 322px;
  height: 309px;
  right: 5%;
}

.small_product_wrapper {
  position: relative;
  margin-left: 30px;
  width: 620px;
  height: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.small_product_box {
  position: relative;
  padding: 30px;
  width: 293px;
  height: 170px;

  display: flex;
  flex-direction: row;

  box-sizing: border-box;
  background: #f3f5f6;
  border-radius: 6px;
}

.small_product_box:nth-child(even) {
  margin-left: 30px;
}

.small_product_content {
  display: flex;
  flex-direction: column;
}

.small_product_content strong {
  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.small_product_content span {
  color: rgba(98, 105, 116, 1);

  font-family: var(--font);
  font-style: Regular;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}

.small_product_box img {
  position: absolute;
  top: 60px;
  right: 30px;
}

.home_page .tv_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.tv_frame .container {
  flex-direction: column;
  width: 1320px;
}

.category_right a {
  margin-left: 20px;
}

.container .tv_wrapper {
  margin-top: 30px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_wrapper .tv_product_boxes {
  width: 1260px;
  height: 452px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tv_product_boxes .tv_product_box {
  width: 260px;
  height: 452px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.tv_product_boxes .product_img {
  width: 100%;
  height: 280px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination_box {
  margin-top: 30px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pagination_box .pagination_main {
  width: auto;
  height: 24px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination_main .pagination_dot {
  margin: 0px 20px;
  display: flex;
  flex-direction: row;
}

.pagination_main img {
  cursor: pointer;
}

.pagination_dot .dot {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.pagination_dot .dot.active {
  border: 2px solid #112137;
}

.pagination_dot .dot div {
  width: 4px;
  height: 4px;
  background: #112137;
  border-radius: 50%;
}

/* Special Event Frame */

.home_page .special_event_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: 632px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  background-image: url(../images/icons/event_bg.png);
}

.special_event_frame .container {
  flex-direction: row;
  justify-content: center;
}

.special_event_frame .special_event_content_box {
  width: 340px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.special_event_frame .special_event_content_box span {
  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.special_event_frame .special_event_content_box .time_left {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.special_event_frame .time_left .timer_left_box {
  width: 82px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.special_event_frame .timer_left_box strong {
  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}

.special_event_frame .timer_left_box span {
  color: rgba(255, 255, 255, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
}

.special_event_frame .special_event_content_box a {
  margin-top: 30px;
  width: 140px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  background: rgba(255, 255, 255, 1);

  color: rgba(4, 30, 66, 1);

  font-family: var(--font);
  font-style: Medium;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

.special_event_frame .container .special_event_wrapper {
  width: 930px;
  height: auto;
  display: flex;
  flex-direction: row;
}

.special_event_frame .special_event_wrapper .special_event_boxes {
  position: relative;
  width: auto;
  height: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.special_event_frame .special_event_boxes .special-event_box {
  margin-right: 8px;
  width: 205px;
  height: 392px;

  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background-color: white;
}

.special_event_frame .special-event_box .special_event_product_img {
  width: 100%;
  height: 220px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.special_event_frame .special-event_box .product_content_box {
  padding: 0 0 0 10px;
}
